{
  "presets": ["@babel/preset-react"],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "emotion"
      ]
    },
    "production": {
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "transform-remove-console",
        "emotion"
      ]
    }
  }
}