$gray-1: #ededed;
$gray-2: #eaeaea;
$gray-3: #999999;
$gray-4: #545454;
$gray-5: #363636;
$gray-6: #fafafa;
$gray-7: #dbdbdb;
$green: #52995c;
$light-green: #97BA98;
$primary: $green;
$info: #999999;
$white: white;
$white-gray: rgba(255,255,255,0.6);
$black: #000;
$red: #FF3860;
$red-2: #e4002b;
$tr-even-background-color: #fff;
$tr-odd-background-color: #f9f9f9;
$table-borders-color: #d6d6d6;
$purple: #4d394b;
$purple-2: #4a3a4a;
$placeholder: #c6c6c6;
